# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://vihaanh31_db_user:iWedsQ0sx9gbD8nv@khaane-me-kya-hai.oxugbq1.mongodb.net/khaane_me_kya_hai?retryWrites=true&w=majority
DB_NAME=khaane_me_kya_hai

# Cloudinary (for image uploads)
CLOUDINARY_CLOUD_NAME=dtetfmq9s
CLOUDINARY_UPLOAD_PRESET=food_listings

# Server
PORT=3001
NODE_ENV=development
